*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
@font-face {
  font-family: "museo-cyrillic";
  src: url("../fonts/exljbris-Museo-Cyrl-700.woff") format("woff");
  font-weight: 700;
}

.header {
  position: fixed;
  width: 100%;
  padding: 22px 0;
  background-color: #f1f1f1;
  z-index: 1;
  left: 0; /*у нас и дез данного свойства все работает но в уроке и в интернете пишут данное свойство нужно ли оно?*/
  top: 0; /*у нас и дез данного свойства все работает но в уроке и в интернете пишут данное свойство нужно ли оно?*/
}
.container {
  max-width: 1137px;
  margin: 0 auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #202020;
}
.nav {
  font-size: 14px;
  font-weight: 400;
}
.nav-link {
  text-decoration: none;
  color: #202020;
  margin-right: 22px;
}
.account {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}

.hero {
  display: flex;
  padding: 62px 0 71px 0;
  margin-top: 60px;
}
.hero-wrapper {
  display: flex;
  align-items: center;
}
.img {
  position: relative;
  margin-right: 122px;
}
.sale {
  position: absolute;
  top: 23px;
  right: 0;
  padding: 12px 17px;

  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #c93535;
}

.author {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 400;
  color: #202020;
}
.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "museo-cyrillic";
  font-size: 54px;
  font-weight: 700;
  color: #202020;
}
.subtitle {
  display: block;
  max-width: 355px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 400;
  color: #202020;
}
.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}
.date {
  flex-basis: 38%;
  margin-bottom: 16px;
}
.type {
  flex-basis: 38%;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.cost {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favorites {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.heart {
  width: 35px;
  height: 30px;
  margin-right: 7px;
}
.add {
  font-size: 16px;
  font-weight: 400;
}

.button-read {
  width: 250px;
  height: 60px;
  margin-right: 20px;
  background-color: #f89c02;
  border-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.button-buy {
  width: 250px;
  height: 60px;
  border: 2px solid #f89c02;
  background-color: transparent;
  border-radius: 5px;
  color: #f89c02;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.about {
  display: flex;

  background-color: #f1f1f1;
  padding: 95px 0;
}
.about-wrapper {
  display: flex;
  align-items: flex-start;
}
.about-text {
  max-width: 455px;
  margin-right: 130px;
}
.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: #202020;
  margin-bottom: 57px;
}
.summary {
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}
.about-author {
  max-width: 552px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 1px 120px 0px rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  background-color: #fff;
  padding: 68px 53px;
}
.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.author-avatar {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 21px;
}
.author-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
}
.author-name {
  font-size: 16px;
  font-weight: 700;
  color: #202020;
  margin: 0;
  margin-bottom: 14px;
}
.author-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}
.author-bio {
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}
.readers {
  padding: 87px 113px 109px 113px;
  background-color: #fff;
}

.readers-photo-top {
  margin-bottom: 30px;
}
.readers-photo-top {
  display: flex;
  justify-content: space-between;
}
.readers-photo-bottom {
  display: flex;
  justify-content: space-between;
}
.photo {
  width: 165px;
  height: 165px;
  object-fit: cover;
}
.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background-color: #f1f1f1;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.reguisites {
  margin-right: 167px;
}
.footer-title {
  font-size: 18px;
  font-weight: 700;
  color: #202020;
  margin: 0;
  margin-bottom: 30px;
}
.footer-list {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}
.list-items {
  margin-bottom: 15px;
}
.footer-link {
  text-decoration: none;
  color: #202020;
}
.informations {
  margin-right: 158px;
}
.to-top {
  position: fixed;
  bottom: 113px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 120px 0px rgba(161, 161, 161, 0.07);
  border-radius: 4px;
  background-color: #fff;
}
.to-top-img {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .hero {
    padding-bottom: 90px;
  }
  .img {
    margin-right: 29px;
    min-width: 390px;
  }
  .img-book {
    width: 100%;
  }
  .about-text {
    max-width: 367px;
    margin-right: 52px;
  }
  .photo {
    width: 139px;
    height: 139px;
  }
  .readers {
    padding-top: 69px;
    padding-bottom: 94px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 761px;
  }
  .hero {
    padding-top: 59px;
    padding-bottom: 79px;
  }
  .img {
    margin-right: 30px;
    min-width: 298px;
  }

  .nav {
    display: none;
  }
  .about-text {
    max-width: 367px;
    margin-right: 130px;
  }
  .author {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 13px;
  }
  .title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 28px;
  }
  .description {
    margin-bottom: 25px;
  }
  .date {
    flex-basis: 45%;
  }
  .type {
    flex-basis: 45%;
  }
  .price {
    margin-bottom: 25px;
  }
  .button-read {
    font-size: 14px;
    margin-right: 14px;
    width: 200px;
  }
  .button-buy {
    font-size: 14px;
    width: 200px;
  }
  .about-wrapper {
    flex-wrap: wrap;
  }
  .about {
    padding-top: 81px;
    padding-bottom: 82px;
  }
  .about-text {
    margin: 0;
    min-width: 100%;
    margin-bottom: 62px;
  }
  .section-title {
    font-size: 24px;
  }
  .readers {
    padding-top: 74px;
    padding-bottom: 81px;
  }
  .photo {
    width: 165px;
    height: 165px;
  }

  .photo:nth-child(n + 5) {
    display: none;
  }
  .readers-photo-top {
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .footer-wrapper {
    flex-wrap: nowrap;
  }
  .reguisites {
    margin-right: 50px;
  }
  .informations {
    margin-right: 50px;
  }
  .to-top {
    bottom: 90px;
    right: 30px;
    width: 40px;
    height: 40px;
  }
  .sale {
    padding: 4% 5%;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .hero {
    padding-top: 40px;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }
  .img {
    min-width: 100%;
    margin-bottom: 60px;
  }
  .about {
    padding-bottom: 89px;
  }
  .about-text {
    margin-bottom: 70px;
  }
  .readers {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  .photo:nth-child(n + 4) {
    display: none;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
  .footer {
    padding-bottom: 78px;
  }
  .informations {
    margin: 0;
  }
  .reguisites {
    margin-bottom: 60px;
  }
  .sale {
    padding: 4% 8%;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 481px;
  }
  .hero {
    padding-bottom: 64px;
  }
  .author {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 31px;
  }
  .description {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .description-text {
    margin-bottom: 19px;
  }
  .age {
    margin: 0;
  }
  .price {
    margin-right: 28px;
    margin-bottom: 36px;
  }
  .cost {
    margin-right: 28px;
  }
  .add {
    display: none;
  }
  .button-read {
    min-width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .button-buy {
    min-width: 100%;
    font-size: 16px;
  }
  .info {
    min-width: 100%;
  }
  .about {
    padding-top: 60px;
    padding-bottom: 97px;
  }
  .readers {
    padding: 0;
    padding-top: 55px;
    padding-bottom: 69px;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .photo {
    width: 144px;
    height: 144px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 75px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-list {
    margin: 0;
  }
  .reguisites {
    margin-bottom: 32px;
  }
  .informations {
    margin-bottom: 32px;
  }
  .link-url {
    display: none;
  }
  .to-top {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 83%;
    margin: auto;
  }

  .hero {
    min-width: 100%;
    padding-top: 15%;
    padding-bottom: 19%;
  }
  .author {
    font-size: 16px;
    margin-bottom: 6%;
  }
  .title {
    font-size: 24px;
    margin-bottom: 4%;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 13%;
  }
  .description {
    margin-bottom: 14%;
  }
  .description-text {
    font-size: 14px;
    margin-bottom: 7%;
  }
  .age {
    margin: 0;
  }
  .price {
    margin-bottom: 14%;
  }
  .button-read {
    max-width: 83%;
    margin-bottom: 6%;
  }
  .about-author {
    padding-left: 8%;
    padding-right: 8%;
  }
  .about {
    padding-top: 19%;
    padding-bottom: 17%;
  }
  .about-text {
    margin-bottom: 19%;
  }
  .section-title {
    margin-bottom: 13%;
  }
  .about-author {
    padding: 12% 9% 16% 9%;
  }
  .author-avatar {
    margin-right: 6%;
    width: 27%;
    height: 27%;
  }

  .author-link {
    font-size: 14px;
  }
  .link-url {
    display: none;
  }
  .img {
    margin-right: 0;
    margin-bottom: 18%;
  }
  .readers {
    padding-top: 19%;
    padding-bottom: 19%;
  }
  .photo {
    width: 47%;
    height: 40%;
  }
  .readers-photo-top {
    margin-bottom: 5%;
  }

  .photo:nth-child(n + 3) {
    display: none;
  }
  .footer {
    padding-top: 19%;
    padding-bottom: 24%;
  }
  .footer-title {
    margin-bottom: 15%;
  }
  .reguisites {
    margin: 0;
    margin-bottom: 14%;
  }
  .footer-list {
    margin: 0;
  }
  .informations {
    margin-bottom: 14%;
  }
  .sale {
    padding: 4% 5%;
    font-size: 14px;
  }
  .to-top {
    display: none;
  }
}
