* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@font-face {
  font-family: "museo-cyrillic";
  src: url("../fonts/exljbris-Museo-Cyrl-700.woff") format("woff");
  font-weight: 700;
}
.body {
  margin: auto;
  max-width: 1366px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 11px 117px 11px 112px;
  background-color: #f1f1f1;
}
.logo {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #202020;
}
.nav {
  font-size: 14px;
  font-weight: 400;
}
.nav-link {
  text-decoration: none;
  color: #202020;
  margin: 0 11px 0 11px;
}
.account {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}

.hero {
  display: flex;
  padding: 62px 0 71px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  max-width: 1137px;
  margin: auto;
}
.img {
  margin-right: 122px;
}
.info {
  max-width: 520px;
}
.author {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 400;
  color: #202020;
}
.title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "museo-cyrillic";
  font-size: 54px;
  font-weight: 700;
  color: #202020;
}
.subtitle {
  display: block;
  max-width: 355px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 400;
  color: #202020;
}
.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}
.date {
  flex-basis: 38%;
}
.type {
  flex-basis: 38%;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.cost {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favorites {
  display: flex;
  align-items: center;
}
.heart {
  width: 35px;
  height: 30px;
  margin-right: 7px;
}
.add {
  font-size: 16px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.button-read {
  width: 250px;
  height: 60px;
  background-color: #f89c02;
  border-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.button-buy {
  width: 250px;
  height: 60px;
  border: 2px solid #f89c02;
  background-color: transparent;
  border-radius: 5px;
  color: #f89c02;
  font-size: 16px;
  font-weight: 700;
}
